/* Variables */

 :root {
    --basic-extra-black: #000000;
    --basic-black: #231F20;
    --basic-dark-blue: #5496BD;
    --basic-blue: #669EC0;
    --basic-light-blue: #81B3D2;
    --basic-white: #FFFFFF;
    --basic-extra-dark-gray: #333333;
    --basic-dark-slate-gray: #666666;
    --basic-very-dark-gray: #6A6A6A;
    --basic-dark-gray: #888888;
    --basic-gray: #030202;
    --basic-light-gray: #CACACA;
    --basic-very-light-gray: #F2F2F2;
    --basic-extra-light-gray: #EEEEEE;
    --basic-extra-very-light-gray: #EBEBEB;
    --basic-extra-dark-brown: #503E33;
    --basic-brown: #604E43;
    --basic-light-brown: #766357;
}


/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-extra-dark-gray);
    text-transform: uppercase;
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    color: var(--basic-extra-black);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.button {
    font: inherit;
    text-align: center;
    color: var(--basic-white);
    vertical-align: middle;
    text-transform: uppercase;
    background-color: var(--basic-light-blue);
    border: none;
    appearance: none;
    padding: 3px 16px;
}

.button-dark {
    background-color: var(--basic-light-brown)
}


/* Main navigation */

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-extra-black);
    background-color: transparent;
}

.main-navigation-wrapper {
    background-color: var(--basic-white);
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* User navigation */

.site-navigation a {}

.site-navigation a:hover,
.site-navigation a:focus {}


/*Welcome*/

.welcome {
    background-image: url(../img/background-photo.png);
}


/*Reasons*/

.reasons-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.reasons-item {
    text-align: left;
    background-color: var(--basic-light-blue);
    color: var(--basic-white)
}

.reasons-title {
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
}

.reasons-item h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.reasons-item h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}

.reasons-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
}

.reasons-item-gray {
    background-color: var(--basic-extra-light-gray);
}


/*reasons-sublist*/

.reasons-sublist {
    background-color: var(--basic-white);
    color: var(--basic-extra-black);
    list-style: none;
    margin: 0;
    padding: 0;
}

.reasons-sublist h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}


/*Search-hotel*/

.search-hotel h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
}

.search-hotel p {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}


/*Footer*/

.social {
    list-style: none;
    margin: 0;
    padding: 0;
}


/*============================================CATALOG===================================================================*/

.filter {
    background-image: url(../img/background.png);
}

.hotels-list {
    list-style: none;
    margin: 0;
    padding: 0;
}